<!-- --------------F-O-O-T-E-R------------ -->
<div class="container-fluid footer">
    <h2 class="text-center bg-info text-white">VIKRAM SHORTHAND COLLEGE</h2>
    <p class="text-center bg-dark text-white">D 208 A, Street no. 40 Main Road, Rajapuri, Madhu Vihar,<br> Uttam
        Nagar, New Delhi-110059<br><br> Social Links <br><br>
        <a href="https://www.facebook.com/lalitsinghrocks/" class="text-white" target="_blank"><i
                class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/lalitsinggh/" class="text-white" target="_blank"><i
                class="fab fa-instagram-square"></i></a>
        <i class="fab fa-youtube"></i>
    </p>
</div>
<!-- --------------F-O-O-T-E-R--E-N-D-S---------- -->